<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
  </head>
<body>
  <h1>Log in</h1>
  <form action="/log-in" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password: </label>
    <input type="text" name="password" id="password" required>
    <button type="submit">Submit</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>
